body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    display: flex;
    list-style: none;
    position: relative;
  }
  .none{display: none;}
  /* button {
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 8px;
    margin: 12px;
    cursor: move;
    font-size: 30px;
    background: #eaeaea4f;
  } */
  .itemcontainer{
    width: 80%;
    /* height: 100vh; */
    margin: 0 auto;
    position: absolute;
    top: 100px;
    right: 0;
    height: 90vh;
    overflow-x: scroll;

    
  }
  .pd{
    display: flex;
    flex-wrap: nowrap;
    /* white-space: nowrap; */

  }
  .article{
    width: 420px;
    height: 1000px;
    margin-right: 100px;
  }
  .container {
    width: 400px;
    min-width: 400px;
    /* height: 100px; */
    flex-shrink: 1;
    height: max-content;
    margin: 10px;
    padding: 20px 10px;
    background-color: #b5c1dc57;
    border-radius: 8px;
  }
  .draggable{
    width: 350px;
    min-height: 30px;
    height: max-content;
    
    margin: 10px auto;
    position: relative;
    padding: 10px 20px;
    background: #fff;
    border-radius: 20px;
    border: 1px solid #eee;
  }
  .itemtext{
   display: inline-block;
    width: 300px;
    height: 30px;
    word-break: break-word;
  }
  .draggable.dragging {
    opacity: 0.5;
  }
  .delete{
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    right: 5px;
    font-size: 30px;
  }
  .edit{
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    right: 35px;
  }
  .complate{
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    right: 35px;
  }
  .editclose{
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    right: 5px;
  }